<h1>Listing categories</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.Title, category %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

